.circle-cracks{
    background-color: white;
    border-radius: 50px;
    /*padding: 88px 41px 36px 41px;*/
    margin: 66px 72px 10px 72px;
    border: 1px solid #686E7F;
    /* background: linear-gradient(to bottom, white 70%, #ECEDF1 30%); */
    box-shadow: -1px 8px 18px 2px rgba(0,0,0,0.51);
-webkit-box-shadow: -1px 8px 18px 2px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 8px 18px 2px rgba(0,0,0,0.51);
}

.icons-craks{
    display: flex;
    justify-content: space-between;
    padding: 45px 118px;
}

.img-cracks{
    width: 200px;
}

.text-cracks{
    text-align: center;
    color:  #686E7F;
}


.fondo-informacion{
    background-color: red;
    width: 100%;
    height: 1330px;
}

.rectangulo {
  
    background: linear-gradient(45deg, #FFD500, #FF2800); /* Degradado lineal */
    border-radius: 50px;
    padding: 88px 41px 36px 41px;
    margin: 66px 72px 10px 72px;
    width: 77%;
    height: 160px;
    display: flex;
  }

  .texto-referidos{
    text-align: center;
    color: #686E7F;
  }

  .img-moto{
    width: 100%;
  }


  .enlace{
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 66px 72px 10px 72px;
    width: 77%;
    height: 160px;
    display: flex;
    padding: 64px 10px 90px 10px;
  }

  .contenedor-conocer-mas{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECEDF1;
    border-bottom-left-radius: 52px;
    border-bottom-right-radius: 52px;
  }

  .btn-mes{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid #FF7400;
    border: 3px solid #FF7400;
    border-radius: 114px;
    padding: 0px 10px 0px 0px;

 
  }

  #h1-informacion:hover{
    color: white;
 }

 .sin-puntos{
  font-size: 47px;
  font-family: system-ui;
 }

 .h1-menu:hover{
    color: #fefefe;
    font-size: 56px;
    font-weight: normal;
    
 }

 .btn-invitar{
  background-color: #FF7400;
  color: #FFFFFF;
  width: 80%;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  width: 91%;
  font-size: 45px;
  height: 148px;
  margin-left: 46px;
  margin-top: 76px;
  font-family: system-ui;
  font-weight: 500;
  -webkit-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);-moz-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);
}

.btn-redimir{
  background-color: grey;
  color: #FFFFFF;
  width: 80%;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
  width: 91%;
  font-size: 45px;
  height: 100px;
  margin-left: 46px;
  margin-top: 76px;
  font-family: system-ui;
  font-weight: 500;
  -webkit-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);-moz-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);
}
.btn-radius-referidos{
  border-top-right-radius: 58px;
    border-bottom-right-radius: 51px;
    border-top-left-radius: 58px;
    border-bottom-left-radius: 51px;
    background-color: #ECEDF1;
    color: #FF7400;
    font-size: 35px;
    margin-right: 39px;
    padding: 32px 66px;
    border: 1px solid #ECEDF1;
    font-weight: 100;
    border: 2px solid #FF7400;
}

 .no-puntos{
    background-color: #FFFFFF;
    border-radius: 6px;
    margin: 120px 72px 10px 22px;
    width: 93%;
    height: 185px;
    display: block;
    padding: 64px 10px 380px 10px;
    -webkit-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);-moz-box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);box-shadow: 2px 0px 21px 17px rgba(0, 0, 0, 0.23);
 }

 .mayo{
  font-family: system-ui;
  color: #686E7F;
  font-size: 44px;
  font-weight: 100;
 }

 #h1-redenciones {
  color: #FF7400;
  padding-top: 21px;
}

 .periodo-redimir{
  font-size: 44px;
  font-family: system-ui;
  color: #686E7F;
}
 

 .cop{
  font-size: 53px;
  font-family: system-ui;
 }

 .botton-redimir-naranja{
  color: #FFFFFF;
  border-radius: 114px; 
  background-color: #FF7400;
  padding: 15px 76px;
}

.botton-redimidos-blanco{
  color: #FF7400;
  background-color: #FFFFFF;
  padding-right: 114px;
}
.contenedor-opciones{
  padding: 70px;
}

 a:link, a:visited, a:active {
    text-decoration:none;
 }

 #btn-redenciones{
    border-bottom: solid #FF7400;
    padding: 0px 10px 0px 10px;
 }

 #btn-informacion:hover{
    color: #fefefe;
    border-bottom: solid #FF7400;
    background-color: #FF7400;
    border-top-right-radius: 114px;
    border-bottom-right-radius: 114px;
    border-top-left-radius: 114px;
    border-bottom-left-radius: 114px;
    padding: 0px 10px 0px 10px;
 
 }


  /* prueba */

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

    
  .h1-redimir{
    color: white;
    font-size: 56px;
  }

  .h1-redimidos{
    color: #FF7400;
    font-size: 56px;
  }
